* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

body {
  display: grid;
  place-items: center;
  background: #222222;
  font-family: 'Ubuntu Mono', monospace;
}

h1,
h2 {
  color: #ffe8d9;
  font-weight: 700;
  font-size: 72px;
}

.outputs {
  width: 286px;
  height: 51px;
  background: #626262;
  border-radius: 6px;
}
.box {
  width: 286px;
  height: 286px;
  background: #ff9466;
}
